In [1]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print sys.version
print "Pandas", pd.version.version

2.7.9 |Anaconda 2.2.0 (x86_64)| (default, Dec 15 2014, 10:37:34)
[GCC 4.2.1 (Apple Inc. build 5577)]
Pandas 0.15.2

In [2]:
np.random.seed(255)

In [3]:
raw_np_range = np.random.random_integers(1, 20, 26)

In [4]:
data = pd.Series.from_array(raw_np_range)

In [5]:
data

0     20
1     10
2      7
3      6
4     16
5     10
6     19
7      1
8      8
9     18
10    18
11     8
12    17
13     7
14     7
15    17
16     7
17     5
18    16
19    10
20    11
21    13
22     2
23    18
24    20
25     4
dtype: int64

In [6]:
data[20]

11

In [7]:
data[[10,15,20]]

10    18
15    17
20    11
dtype: int64

In [8]:
import string
upcase = list(string.uppercase)
upcase

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [9]:
data.index = upcase

In [10]:
data

A    20
B    10
C     7
D     6
E    16
F    10
G    19
H     1
I     8
J    18
K    18
L     8
M    17
N     7
O     7
P    17
Q     7
R     5
S    16
T    10
U    11
V    13
W     2
X    18
Y    20
Z     4
dtype: int64

In [11]:
data.head()

A    20
B    10
C     7
D     6
E    16
dtype: int64

Even though the index are letters, you can still find the values by passing in numbers for index.

In [12]:
data[0]

20

In [13]:
data[1:5]

B    10
C     7
D     6
E    16
dtype: int64

In [15]:
data[[1,5]]

B    10
F    10
dtype: int64

In [16]:
data[['A','D']]

A    20
D     6
dtype: int64

In [18]:
num_index = pd.Series(upcase[:5], index = range(5,10))
num_index

5    A
6    B
7    C
8    D
9    E
dtype: object

In [19]:
num_index[5]

'A'

Another way to use index -> iget method

In [21]:
num_index.iget(0)

'A'

In [22]:
num_index.iget([0, 2, 4])

5    A
7    C
9    E
dtype: object

Third way to use index -> iloc method

In [24]:
num_index.iloc[[0,4]]

5    A
9    E
dtype: object

--------------------------------------------------------------------------

In [25]:
num_index.ix[[0,4]]

0    NaN
4    NaN
dtype: object

In [26]:
num_index.ix[[0,5]]

0    NaN
5      A
dtype: object

In [27]:
data

A    20
B    10
C     7
D     6
E    16
F    10
G    19
H     1
I     8
J    18
K    18
L     8
M    17
N     7
O     7
P    17
Q     7
R     5
S    16
T    10
U    11
V    13
W     2
X    18
Y    20
Z     4
dtype: int64

In [28]:
data.ix[[0,4]]

A    20
E    16
dtype: int64

In [29]:
data.iloc[[0,4]]

A    20
E    16
dtype: int64

In [30]:
data < 10

A    False
B    False
C     True
D     True
E    False
F    False
G    False
H     True
I     True
J    False
K    False
L     True
M    False
N     True
O     True
P    False
Q     True
R     True
S    False
T    False
U    False
V    False
W     True
X    False
Y    False
Z     True
dtype: bool

In [31]:
data[data < 10]

C    7
D    6
H    1
I    8
L    8
N    7
O    7
Q    7
R    5
W    2
Z    4
dtype: int64

In [32]:
data[(data < 10) & (data > 5)]

C    7
D    6
I    8
L    8
N    7
O    7
Q    7
dtype: int64

In [33]:
data[data < 10][data > 5]

C    7
D    6
I    8
L    8
N    7
O    7
Q    7
dtype: int64

In [34]:
data[data < 10].any()

True

In [36]:
data[data > 50].any()

False

In [37]:
data[data > 0].all()

True

In [39]:
(data > 0).all()

True

In [40]:
sum(data > 5)

22

In [41]:
(data > 5).sum()

22

In [43]:
data.sum()

295

In [44]:
(data).sum()

295

In [45]:
data[0:10]

A    20
B    10
C     7
D     6
E    16
F    10
G    19
H     1
I     8
J    18
dtype: int64

In [46]:
num_index[0:10]

5    A
6    B
7    C
8    D
9    E
dtype: object

In [47]:
num_index[0:2]

5    A
6    B
dtype: object

In [48]:
data[0:10:2]

A    20
C     7
E    16
G    19
I     8
dtype: int64

In [49]:
data[:5]

A    20
B    10
C     7
D     6
E    16
dtype: int64

In [50]:
data[15:]

P    17
Q     7
R     5
S    16
T    10
U    11
V    13
W     2
X    18
Y    20
Z     4
dtype: int64

In [51]:
data[-2:]

Y    20
Z     4
dtype: int64

In [53]:
data.tail(2)

Y    20
Z     4
dtype: int64

In [54]:
data[:10][0] = 25

In [55]:
data

A    25
B    10
C     7
D     6
E    16
F    10
G    19
H     1
I     8
J    18
K    18
L     8
M    17
N     7
O     7
P    17
Q     7
R     5
S    16
T    10
U    11
V    13
W     2
X    18
Y    20
Z     4
dtype: int64

In [56]:
dcopy = data.copy()

In [58]:
dcopy[:10][0] = 23

In [59]:
dcopy

A    23
B    10
C     7
D     6
E    16
F    10
G    19
H     1
I     8
J    18
K    18
L     8
M    17
N     7
O     7
P    17
Q     7
R     5
S    16
T    10
U    11
V    13
W     2
X    18
Y    20
Z     4
dtype: int64